*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}
html{
  height:100%;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
  padding-top: 55px;
  background-color: #ffe9f4;
}

#title-main{
  color:#7561bb ;
}

//NAVBAR
#navi{
  background-color: #cb97c8;
}
nav{
  .navbar-item{
    font-weight: bolder;
    color: white;
  }
}

a.navbar-item.is-active{
  background-color: #cb97c8 ;
}

#navi > div > div.navbar-menu.is-active > div > a{
  color: #7561bb;
}

.section{
  height: 100%;
  width: 100%;
  color: #7561bb ;
  // background-image: url("https://www.publicdomainpictures.net/pictures/240000/velka/bright-pink-background.jpg");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}



//HOME

.home-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7561bb;
  font-weight: bold;
  line-height: 2;
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 30px;
  
}
#transform{
height: 400px;
width: 400px;
padding-top: 40px;
padding-bottom: 40px;
}
h1{
  font-size: 40px;
}

h2{
  padding-top: 70px;
}
p{
  text-align: center;
  // text-justify: inter-word;
  align-content: center;
  align-items: center;
}
.intro{
  width: 50%;
}
.quote{
  font-weight: bold;
}
.button{
  background-color: #7561bb;
}
span{
  color: white;
}
@media only screen and (max-width: 840px) {

  p{
    font-size: 14px;
  }
  .intro{
    width: 90%;
  }
  .quote{
    font-size: 14px;
    width: 90%;
  }
  h2{
    font-size: 22px;
  }
  a{
    width: auto;
  }
  img{
    height: auto;
    width: auto;
  }
  

}
}

.journey{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

//FORM
.faq-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,0.05);
  max-width: 100%;
  width: 100%;
}

//Diet Page
#subscribe{
i{
padding-right: 20px;
color: white;
}
.button{
  background-color: #7561bb;
  margin-bottom: 5px;
}
span{
  color: white;
  font-weight: bold;
}
.t2{
  font-size: 20px;
}
#transform{
  height: 400px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  @media only screen and (max-width: 840px) {

    .title{
      font-size: 20px;
    }
    .t2{
      font-size: 15px;
      text-align: center;
    }
  }
}


//FAQ PAGE
#faq-title{
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  color: #7561bb;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  color: #7561bb;
.service-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 01.9em 1em -0.125em rgba(10,10,10,0.1);
  display: block;
  padding: 1.25rem;
}
  ul{
    padding-left: 20px;
  }
li{
  list-style-type: circle;
  padding-bottom: 5px;
}
.service-sub{
  font-weight: bolder;
}
.button{
  background-color: #7561bb;
}
span{
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 840px) {

  p{
    font-size: 14px;
  }
  .service-container{
    width: 100%;
  }
  li{
    font-size: 14px;
  }
  a{
    width: auto;
  }
  h2{
    font-size: 20px;
  }

}
}

  .pic-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height:300px;
    width: 300px;
    padding-top: 30px;
  }

  




//CONTACT PAGE

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: justify;
  text-justify: inter-word;
  }
  .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  i{
    padding-right: 20px;
    color: white;
  }
  span{
    color: white;
    font-weight: bold;
  }
  .button{
    background-color: #7561bb;
    margin-bottom: 5px;
  }
  .pic-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  ul{
    padding-left: 20px;
  }
  li{
    list-style-type: circle;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .NB{
    font-weight: bolder;
  }
  #profile{
    width: 300px;
    height: 300px;
  }
  @media only screen and (max-width: 840px) {

    p{
      font-size: 15px;
    }
    li{
      font-size: 15px;
    }
    .container{
      width: 80%;
    }
    a{
      width: auto;
    }
    #profile{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//Footer

.footer{
  background-color: #cb97c8 ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem !important;
  color: #7561bb;
  @media only screen and (max-width: 840px) {

    p{
      font-size: 12px;
      text-align: center;
    }
  }
}
